body {
  max-width: 750px;
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

p {
  float: left;
  width: 230px;
  background-color: #efefef;
  margin: 5px;
  padding: 5px;
}
