* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
}

main {
    width: 1000px;
    background-color: antiquewhite;
    margin: auto;
}