* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
.container{
    display: grid;
    grid-template-areas: "aside header header"
                        "aside main main"
                        "aside footer footer";
}
.header {
    width: 100%;
    height: 99px;
    padding: 39px 48px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--Grey-Light-Grey-3, #E2E8EE);
    background: #FFF;
}


.logo {
    display: flex;
    align-content: space-between;
}


.search input {
    display: flex;
    width: 100%;
    height: 39px;
    padding: 0px 25px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #D2D8D4;
}

.search {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goggle {
    position: absolute;
    right: 25px
}

#burtguuleh {
    border-radius: 10px;
    border: 1px solid var(--Grey-Dark-Grey4, #DCE3EA);
    background: var(--Grey-Light-White, #FFF);
    justify-content: space-between;
    align-items: center;
    color: #E86B02;
    font-size: 15px;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

#newtreh {
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #E86B02;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
}

.top-buttons {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    gap: 14px;
}