.restaurantDetail {
    padding: 20px;
    background-color: white;
    max-width: 1168px;
    margin: 0 auto;
  }
  
  .backButton {
    background: #0fa958;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .restaurantImage {
    width: 100%;
    max-width: 1120px;
    border-radius: 10px;
    max-height: 192px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    object-position: center;
  }
  .menuList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr)); 
    gap: 24px;
  }  
  .menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 95%;
    background: white;
    padding: 16px;
    border-radius: 12px; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease-in-out;
  }
  
  .menuItem:hover {
    transform: translateY(-3px);
  }
  
  .imageContainer {
    position: relative;
    width: 120px; 
  }
  
  .itemImage {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .quantityControls {
    position: absolute;
    top: 8px;
    right: 8px;
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 20px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  .quantityButton {
    border: none;
    background: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    padding: 6px 10px; 
  }
  .quantityButton:hover {
    background: rgba(0, 0, 0, 0.1);
  }  
  .itemDetails {
    flex-grow: 1;
    text-align: left;
  }
  .itemName {
    font-size: 18px;
    font-weight: bold;
  }
  
  .itemPrice {
    color: green;
    font-size: 16px;
  }
  
  .itemIngredients {
    color: grey;
    font-size: 14px;
  }
  
  .addToCartButton {
    background: #0fa958;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 8px;
    transition: background 0.2s;
  }
  
  .addToCartButton:hover {
    background: #0c8745;
  }
  .information {
    display: flex;
    align-items: center;  
    justify-content: flex-start;  
    gap: 10px;  
    font-size: 16px;
    color: #333;
  }
  
  .information img {
    width: 20px; 
    height: 20px;
  }
  
  .information div {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  